* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
  color: #373d49;
}

body {
  width: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 2rem;
  color: #373d49;

  @media (max-width: 560px) {
    margin-bottom: 1.5rem;
  }
}

p {
  line-height: 1.4rem;
  margin-bottom: 2rem;
  @media (max-width: 560px) {
    margin-bottom: 1rem;
  }
}

pre {
  border: 1px solid #ccc;
  margin-bottom: 2rem;
}

blockquote {
  display: flex;
  align-items: center;
  color: #666;
  padding: 1.4rem 0 1.4rem 2em;
  border-left: 0.5em #eee solid;
  margin-bottom: 1.5rem;
  p {
    margin-bottom: 0;
  }
}

tr {
  border-top: 1px solid #c6cbd1;
  background: #fff;
}

th,
td {
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

table tr:nth-child(2n) {
  background: #f6f8fa;
}

hr {
  margin-bottom: 1rem;
}

a {
  color: #656a7d;
}

ul,
ol {
  margin-left: 3.2rem;
  margin-bottom: 2rem;

  li {
    margin-bottom: 1.5rem;
    & > code {
      color: #c7254e;
      background-color: #f9f2f4;
      border-radius: 4px;
      padding: 2px 6px;
    }
  }
  @media (max-width: 560px) {
    margin-left: 2.2rem;
    li {
      margin-bottom: .5rem;
    }
  }
}

.code-block {
  margin-bottom: 2rem;
}

p > code {
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  padding: 2px 6px;
}
